{% extends 'encyclopedia/layout.html' %}

{% block body %}
<h1> Search results </h1>
<h5 style="font-weight: 400;"> Matches Found </h5>
    <ul>    
        {% for results in results %}
            <li><a href="{% url 'entry' results %}">{{ results }}</a></li>
        {% empty %}
            <li>No Results</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block nav %}
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
            <li>
                <a href="{% url 'entry' title=entry%}">{{ entry }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}